body {
    
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #f4f4f4b6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.profil {
    background: #EBE8DB;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.profil p {
    text-align: left;
    padding-left: 10px;
}

.profil h1 {
    text-align: left;
    padding-left: 100px;
}

.profil img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Style untuk halaman Jadwal */
.jadwal {
    max-width: 900px;
    margin: 40px auto;
    background: #EBE8DB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.jadwal h2 {
    text-align: center;
    color: #B03052;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #B03052;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0f2f1;
}
